@font-face {
    font-family: 'digital';
    src: url('digital-7.regular.ttf')
}

.wrapper{
    margin: auto auto;
    height: 800px;
    width: 800px; 
}

.container {
    position: absolute;
    height: 600px;
    width: 600px;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    border: 10px solid rgb(32, 32, 32);
    border-radius: 50%;
}

.center{
    position: absolute;
    height: 300px;
    width: 300px;
    background: rgb(32, 32, 32);
    margin-top: 150px;
    margin-left: 150px;
    border-radius: 50%;
}

#start {
    position: absolute;
    background: red;
    color: white;
    width: 50px;
    height: 50px;
    margin-top: 150px;
    margin-left: 262.5px;
    border-radius: 50%;
    border: none;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
}

#high-score {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 210px;
    margin-left: 75px;
    background: rgb(192, 192, 147);
    border-radius: 5%;
    font-family: 'digital';
    font-size: 50px;
    text-align: center;
    line-height: 50px;
}

.button {
    height: 280px;
    width: 280px;
    border: 10px solid rgb(32, 32, 32);
}
.button:hover {
    cursor: pointer;
}

#light-off-0 {
    background: green;
    border-radius: 100% 0 0 0;
}

#light-on-0 {
    background: radial-gradient(rgba(255,255,255), rgb(5, 252, 5));
    border-radius: 100% 0 0 0;
}


#light-off-1 {
    background: red;
    border-radius: 0 100% 0 0;
}

#light-on-1 {
    background: radial-gradient(white, rgb(255, 1, 1));
    border-radius: 0 100% 0 0;
}

#light-off-2 {
    background:yellow;
    border-radius: 0 0 0 100%;
}

#light-on-2 {
    background: radial-gradient(white,yellow);
    border-radius: 0 0 0 100%;
}

#light-off-3 {
    background: blue;
    border-radius: 0 0 100% 0;
}

#light-on-3 {
    background: radial-gradient(white,blue);
    border-radius: 0 0 100% 0;
}

.modal {
    display: block;
    position: absolute;
    z-index: 2;
    margin-top: 400px;
    color: white;
}




